.chat {
    flex: 1;
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.chat header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: .5rem;
    padding: .5rem .8rem;
    box-shadow:  0 1px 3px var(--background30);
}

.chat header .user {
    border-radius: var(--border-radius);
    height: 3.5rem;
    aspect-ratio: 1 / 1;
    border: none;
}

.username {
    margin: 0;
}

.messageList {
    overflow-y: scroll;
    scrollbar-width: none;
    flex: 1;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
}

.options {
    display: none;
    overflow: hidden;
    background-color: var(--background);
    box-shadow: 0 0 3px rgba(0, 0 , 0 ,.4);
    border: none;
    position: absolute;
    inset: 0;
    z-index: 3;
    width: 300px;
    padding: 0;
    border-radius: var(--border-radius);
    

    
}

.options[open] {
    display: block;
    animation: open .5s ease-in-out forwards;
}

.options[data-closing=true] {
    animation: close .5s ease-in-out forwards;
}

.options header {
    box-shadow: none;
    
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
}
.options header h1 {
    margin:0
}

.options header button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options header button  svg {
    transition: transform .2s ease-in-out;
}

.options header button:hover  svg {
    transform: scale(1.1);
}

.options section {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5px;
}

.option {
    background-color: var(--background);
    border-radius: 0;
    display: flex;
    border: none;
    align-items: center;
    gap: .5rem;
}
.option:hover {
    background-color: var(--background10);
}

.overlay {
    display: none;
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgba(0,0,0,.3);
}







@media(max-width: 768px) {
    .chat {
        flex: 1;
        /* display: none; */
    }

    .chat[data-show=true] {
        animation: show .5s forwards;
    }
    
    .chat[data-closing=true] {
        display: none;
        animation: close .1s forwards;
    }
}


@keyframes open {
    from {
        opacity: 0;
        transform: translateY(-10%);
        
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes close {
    from {
        opacity: 1;
        transform: translateY(0);
        
    }

    to {
        opacity: 0;
        transform: translateY(-10%);
    }
}