button {
    font-size: clamp(1rem, .9vw + 1rem, 1.5rem);
    padding: min(8px, 1vw) 16px  ;
    text-transform: capitalize;
    font-weight: bold;
    width: max-content;
    align-self: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
}

button {
    box-shadow: 2px 3px rgb(0,0,0, 0.5);
}

button:active {
    box-shadow: 1px 1.5px rgb(0,0,0, 0.5);
    transform: translateY(2px);
}