.chatList {
    display: flex;
    flex-direction: column;
    overflow-y:  scroll;
    scrollbar-width: none;
    background-color: var(--background30);
    height: inherit;
    min-height: 0;
    gap: .5rem;
    max-width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    overflow-y:  scroll;
    scrollbar-width: none;
    gap: .5rem;
    padding-inline: .5rem;
}

.header {
    
    
    background-color: var(--background);
    display: flex;
    align-items: center;
}

.header h1 {
    margin: 0
}
.add {
    padding: 0;
    margin-inline: auto 0;
    width: var(--control-height);
    height: var(--control-height);
    border: none;
    font-size: 100%;
    display: flex;
    background-color: inherit;
    justify-content: center;
    align-items: center;
    background: var;
}
 @media(max-width: 1024px) {
    .chatList {

    }
} 
@media(max-width: 768px) {
    .chatList {
        max-width: none;
        /* display: none; */
    }

    .chatList[data-show=true] {
        animation: show  .5s forwards;
    }

    .chatList[data-closing=true] {
        animation: close .1s forwards;
    }


} 
@keyframes show {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(0);
    }
    
}

@keyframes close {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}



