.chat {
    position: relative;
    display: flex;
    gap: 16px;
    padding: 16px;
    box-sizing: content-box;
    cursor: pointer;
    align-items: center;
}
/* Hover doesnt work because link is on top of the elements */
.chat:hover {
    background-color: var(--accent-color);
}

.chat:not(:last-child) {
    border-bottom: 1px solid black;
}
.user {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.date {
    font-size: clamp(.8rem, .2vw + .8rem, 1rem);
    color: var(--text-color);
    opacity: 70%;
    font-weight: bold;
}

.message {
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(1rem, .2vw + 1rem, 1.2rem);
    font-weight: bold;
    text-overflow: ellipsis;
}

.link {
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
}

.image {
    height: 50px;
    aspect-ratio:  1 /1;
}

.content {
    flex: 1;
}