.list {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    grid-row: span 2;
    scrollbar-width: none;
    list-style-type: none;
}

.title {
    box-sizing: content-box;
    text-align: start;
    padding-left: 16px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-transform: uppercase;
    color: red;
}

