.chatItem {
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    padding: 1rem .8rem;
    background-color: var(--background);
    gap: .4rem;
    align-items: center;
    
}

.chatItem header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
}

.username {
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.time {
    font-size: .8rem;
    
}
.message {
    
    order: 1;
    display: flex;
    overflow: hidden;
    gap: .4rem;
    flex-direction: column;
}

.message p {
    font-size: .8rem;
    width: 90%;
    overflow: hidden;
    margin: 0;
    /* Causing issues with overflow*/
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.chatItem .user {
    order:0;
    height: 1.5rem;
}

.chatItem[data-show='true'] {
    opacity: 0;
    animation: show 1s forwards;
}

@keyframes show {
    from {
        transform: translateY(-5px);
        opacity: 0;
        
    }

    to {
        transform: translateY(0);
        opacity: 1;
        
    }
}