.chat {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 85% 15%;
}

input[name="message"] {
    width: 100%;
    border-radius: 25px;
    padding: 16px;
    height: 50px;
}

.control {
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.control > button {
    margin: 0;
}

