.page {
    display: flex;
    height: inherit;
    background-color: var(--background30);
    
}
.header {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--primary);
}

.user {
    box-sizing: border-box;
    color: var(--accent);
    cursor: pointer;
    box-sizing: border-box;
    border: .2rem solid var(--accent);
    border-radius: 50%;
    background-color: var(--background);
    height: var(--control-height);
    width: var(--control-height);
}

.main {
    flex: 1;
    background-color: var(--background);
    display: flex;
    min-height: 0;
   
}



.shape {
    height: 100px;
    background-color: rebeccapurple;
    clip-path: polygon(0,0, 0 12px, -12, 16px, 0 20px, 0 100%, 100% 100%, 100% 0);
}

/* .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    aspect-ratio:  1 / 1;
    border: none;
} */




/* @media(max-width: 600px) {
    .text {
        position: absolute;
        top: -100px;
    }

} */

@media(max-width: 1024px) {

    
    .text {
        position: absolute;
        top: -100px;
    }

    .navLink {
        justify-content: center;
    }
    
}

@media(max-width: 1024px) {
    .header{
        width: min-content;
    }
}