.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    height: 25%;
    aspect-ratio: 1 / 1;
    border: 16px solid hwb(192 96% 16); 
    border-top: 16px solid var(--primary); 
    border-radius: 50%;
    border-width: 3px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}