.page {
    height: 100dvh;
    display: flex;
    background-color: var(--background30)
}

.hero {
    flex: 1;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    flex: 1;
}



