.message {
    
    display: flex;  
    gap: .8rem;
    
    /* overflow: visible; */
    /* filter: drop-shadow(0 0 1px  var(--shadow)); */
}

.userImage {
    order: 0;
    height: 3.5rem;
    border-radius: var(--border-radius);
    aspect-ratio:  1 / 1;
    /* filter: drop-shadow(0 0 1px  var(--shadow)) */
    
}

.bubble {
    max-width: 75%;
    pointer-events: none;
    z-index: 1;
    box-sizing: border-box;
    padding: .5rem .55rem .5rem 1.2rem;
    position: relative;
    margin: 0;
    order: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--background30);
    overflow-wrap: break-word;
    clip-path: polygon(0 12px, 12px 6px, 12px 0, 100% 0, 100% 100%, 12px 100%, 12px 20px) ;
}

.message[data-reverse=true] .bubble {
    cursor: pointer;
    pointer-events: auto;
}

.time {
    align-self: flex-end;
    font-size: calc(var(--font-size) * .8);
}

.text {
    margin: 0;
    overflow: hidden;
    overflow-wrap: break-word;
}
/** When the message is not the  logged in user*/
.message[data-reverse=false] {
    align-self: flex-end;
}
.message[data-reverse=false] .bubble {
    display: flex;
    align-items: end;
    clip-path: polygon(100% 12px, calc(100% - 12px) 6px, calc(100% - 12px) 0, 0 0, 0 100%, calc(100% - 12px) 100%, calc(100% - 12px) 20px);
}

.message[data-reverse=false] .text {
    width: fit-content;
    align-self: flex-start;
}
.message[data-reverse=false] .userImage {
    order: 3;
}

.images {
    display: flex; 
    gap: .5rem;
    flex-wrap: wrap;
}


@media(max-width: 768px) {
    .images {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 320px) {

    
    .bubble, .message {
        max-width: auto;
    }
    .userImage {
        width: 2rem;
        height: 2rem;

    }
    .image {
        width: 150px;
        height: 150px;
        object-fit: fill;
    }
}
