.wrapper {
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    
    transform: translatey(-50%);
    height: 50vh;
    aspect-ratio: 1 / 1;
}

.wrapper::backdrop {
    background-color: black;
}