.navList {
    --item-lines: .1rem;
    box-sizing: border-box;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: var(--item-lines);
    padding: .5rem;
    
}
.navLink {
    --border-radius: 50px;
    font-size: clamp(1rem, 1rem + .5vw, 1.5rem);
    margin-block: auto;
    padding: .5rem 1rem;
    text-decoration: none;
    height: var(--control-height);
    display: flex;
    align-items: center;
    color: var(--text);
    transition: .5s ease-in-out;
}

.navLink .content {
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 1rem;
    
}

.navLink:not(.navLink[data-current=true]):hover{
    border-radius: var(--border-radius);
    background-color: var(--secondary);
}

.navLink[data-current=true] {
    border-radius: var(--border-radius);
    box-shadow: 0 0 3px var(--shadow);
    background-color: var(--text);
    color: var(--secondary);
}

.navIcon {
    height: 1.5rem;
}
