.navList {
    --item-lines: .1rem;
    box-sizing: border-box;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: var(--item-lines);
    padding: .5rem;
    position: relative;
    
}
.navLink {
    box-sizing: border-box;
    --border-radius: 50px;
    margin-block: auto;
    background-color: inherit;
    border: none;
    padding: 0rem .8rem;
    text-decoration: none;
    height: var(--control-height);
    display: flex;
    align-items: center;
    color: var(--text);
    transition: .5s ease-in-out;
}

.navLink .content {
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

.navLink:not(.navLink[data-current=true]):hover{
    border-radius: var(--border-radius);
    background-color: var(--secondary);
}

.navLink[data-current=true] {
    border-radius: var(--border-radius);
    background-color: var(--secondary20);
    
}

.navLink[data-current=true]:hover {
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    
}


.logo {
    display: none;
    height: 3rem;
    width: 3rem;
    background-color: var(--secondary);
}

.close {
    height: var(--control-height);
    width: var(--control-height);
    display: none;
    position: absolute;
    background-color: var(--secondary);
    border: none;
    top: 0.5rem;
    right: 0.5rem;
    align-items: center;
    justify-content: center;
}

.text {

}

#chatsButton {
    display: none;
}

@media(max-width: 1024px) {
    .navLink {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .text {
        display: none;
    }

    #chatsButton {
        display: none;
    }
    
}

@media(max-width: 768px) {
    .logo {
        display: block;
    }

    .close {
        display: flex;
    }

    #chatsButton {
        display: flex;
    }
    .navList {
        overflow: hidden;
        display: none;
        margin: 0;
        padding-top: 8rem;
        box-shadow: 0 0 3px var(--shadow);
        z-index: 5;
        background-color: var(--primary);
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 50%;
        transform-origin: left;
    }



    .text {
        display: block;
    }
    .navLink {
        margin: 0;
        justify-content: flex-start;
        align-items: center;
        padding: 0rem .8rem;
    }

    .navList[data-show=true] {
        display: flex;
        animation: open .2s forwards ease-in-out; 
    }


    .navList[data-closing=true] {
        
        animation: close .2s forwards ease-in-out; 
    }

    @keyframes open {
        from {
            
            right: 100%;
            /* transform: scaleX(0); */
        }
    
        to {
            right: 50%
            /* transform: scaleX(1); */
            
        }
    }
    
    @keyframes close {
        from {
            right: 50%
            
            /* transform: scaleX(1); */
        }
    
        to {
            right: 100%
            /* transform: scaleX(0); */
            
        }
    }
}

@media(max-width: 600px) {



@keyframes open {
    from {
        
        right: 100%;
        /* transform: scaleX(0); */
    }

    to {
        right: 20%
        /* transform: scaleX(1); */
        
    }
}

@keyframes close {
    from {
        right: 20%
        
        /* transform: scaleX(1); */
    }

    to {
        right: 100%
        /* transform: scaleX(0); */
        
    }
}
}