.card {
    padding: 16px;
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;
    align-items: center;
    margin: 8px;
    border: 2px solid var(--accent-color);
}

.link {
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
}

.img {
    height: 75px;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
}