.form {
    background: var(--background);
    box-shadow: 0 0 5px var(--shadow);
    width: min(500px, 95%);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.title {
    margin: 0;
    
}

.subtitle {
    font-weight: 400;
    margin: 0;
    
    color: var(--text50);
}

.link {
    align-self: center;
}

@media(max-width: 600px) {
    :root {
        --font-size: var
    }
    .title {
        
        font-size: calc(var(--font-size) * 1.6);
    }
    
    .subtitle {
        
        font-size: calc(var(--font-size) * 1.2);
        
    }
    .form {
        padding: 1rem;
        gap: .7rem;
    }
}