@font-face {
  font-family: 'CustomFont';
  src: url(../assets/fonts/Fira_Sans/FiraSans-Regular.ttf);
}
:root {
  --text: #090c0d;
  --text50: hwb(195 3% 95% / 0.5);
  --text70: hwb(195 3% 80%);
  --background: #f5f9fa;
  --background30: hwb(192 96% 15%);
  --backgroundb5:hwb(192 96% 5%);
  --backgroundb10: hwb(192 96% 10%);
  --primary: #48a1c3;
  --primaryb50: hwb(197 28% 50%);
  --primary30: hsl(197, 51%, 52%, 30%);
  --primary80: hsl(197, 51%, 52%, 80%);
  --secondary: #8bcee8;
  --secondary30: hsl(197, 67%, 73%, 30%);
  --accent: #49c0ef;
  --accent30: hsl(197, 84%, 61%, 30%);
  --shadow: rgba(0,0,0, .125); 
  --border-radius: .2rem;
  --control-height: 2.8rem;
  --font-size: clamp(1rem, 1vw + .5rem, 1.5rem);
}
h1 {
  font-size: clamp(1.3rem, 2vw + .5rem, 2rem);
}

h2 {
  font-size:  clamp(1.2rem, 1.8vw + .5rem , 1.5rem);;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: .9rem;
}

h6 {
  font-size: .8rem;
}

body {
  color: var(--text);
  font-family: 'CustomFont','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  font-size: var(--font-size);
  height: 100vh;
}

#root {
  height: inherit;
}


.input-container {
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

label {
  font-size: inherit;
  text-transform: capitalize;
}

input {
  height: var(--control-height);
  padding-inline: .4rem;
  font-family: inherit;
  font-size: 100%;
  border-radius: var(--border-radius);
}

input.primary {
  border: 1px solid black;
  border-radius: var(--border-radius);
}

input.primary:focus, input.primary:focus-visible  {
  border-radius: inherit;
  outline-color: var(--primary);
  
}
input[data-error='true']:focus, input[data-error='true']:not(:focus) {
  outline-color: red;
  border-color: red;
  animation: shake .2s;
}
.icon {
  height: clamp(2rem, 1.8rem + .5vw, 2.8rem);
}
textarea {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border-radius: var(--border-radius);
  padding: .5rem .8rem;
  line-height: 1.5rem;
}

textarea.primary {
  background-color: var(--background30);
  border: none;
  resize: none;
  /* border: 1px solid black; */
  /* border-radius: var(--border-radius); */
  outline: none;
}

textarea.primary >  * {
  margin-block: auto;
}

textarea::placeholder {
  line-height: 1.5rem;
}

textarea.primary:focus, textarea.primary:focus-visible  {
  border-radius: inherit;
  outline-color: var(--primary);
  
}
button {
  font-size: inherit;
  border-radius: var(--border-radius);
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
}

button img, button svg {
  height: inherit;
  aspect-ratio:  1 / 1;
}

button.primary {
  
  font-weight: bold;
  color: var(--text);
  background: var(--primary);
  border: none;
  height: var(--control-height);
}

button.primary:hover {
  
  background-color: var(--secondary);
}

a {
  color: var(--primaryb50);
}

/* @media(max-width: 600px) {
  :root {
    --font-size: clamp(.8rem, .8rem + .5vw , 1rem)
  }
  
} */
@keyframes shake {
  20% {
    transform: translateX(-2px);
  }
  40%{
    transform: translateX(2px);
  }

  60%{
    transform: translateX(-2px);
  }
  80%{
    transform: translateX(2px);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}