.card {
    display: flex;
    padding: 16px;
    /* box-shadow: 0px 0px 3px  rgb(0, 0, 0,.4); */
    /* border: 1px solid black; */
    flex: 1;
    position: relative;
    align-items: center;
    border-bottom: 1px solid black;
    width: auto;
    aspect-ratio: 1 / .25;
}

.card:nth-child(odd) {
    border-right: 1px solid black;
}

.card:hover {
    background-color: var(--accent-color);
}

/* .card:last-child, .card:nth-last-child(-1) {
    border-bottom: none;
} */

.card:only-child {
    border-bottom: 1px solid black;
}
.profile {
    border-radius: 25%;
    height: 75px;
    
}

.text {
    white-space: no-wrap;
    text-overflow: ellipsis;
    font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
    padding: 16px;
    flex: 1;
    font-weight: bold;
}
.button {
    margin: 0;
    box-shadow: none;
}

.link {
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
}

@media(max-width: 768px) {
    .card:nth-child(odd) {
        border-right: none;
    }
    
}