.section {
    flex: 1;
}
.header {
    display: flex;
    background-color: var(--secondary);
    align-items: center;
    padding: 0 .5rem;
    height: fit-content;
    justify-content: space-between;
}

.header button {
    display: flex;
    background-color: inherit;
    border: none;
    height: var(--control-height);
    align-items: center;
}
.header button:hover > svg {
    transition: transform .3s ease-in-out;
    
}

.header button:hover > svg {
    transform: scale(1.2);
}

.buttons {
    display: flex;
}

.header h1 {
    margin: 0;
}

.container {
    flex: 1;
    padding: .5rem;
    background-color: var(--background);
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}





