:root {
  --primary-color: #56B084;
  --secondary-color: #A2DABF;
  --accent-color: #6ACE9D;
  --background-color: #F9FCFB;
  --text-color:#070C09;
}

html, body, .full-height {
  height: 100%;
}

/* A little reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  color: var(--text-color);
  margin: 0;
}

#root {
  display: flex;
  height: 100%;
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.centered {
  align-self: center;
  margin-inline: auto;
}
